/* TaskCard.css */
.task-card {
  border: 1px solid #1c77c3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #1c77c3;
  border-radius: 2em;
  color: white;
  padding: 1em;
  margin: 0px auto;
  flex-grow: 1;
  flex-basis: 100%;
  margin-bottom: 2em;
}

.delete-button {
  background-color: #dd1818;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff0000;
  color: black;
}
